body {
  margin: 0;
  box-sizing: border-box;
}

.about {
  text-align: center;
}

.aboutText {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.thumbnails {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer {
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

